/* Master styles */
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding: 15px;
    background-color: white !important;
}

.right-side {
    display: flex;
}

.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Content styles */
.container h1 {
    padding: 1vh;
    text-align: center;
    color: white;
}

.content-wrapper {
    display: flex;
    margin: 0;
    /*align-items: center;*/
    justify-content: top;
    height: 600vh;
    overflow: hidden;
}

.canvas {
    width: 98vmin;
    height: 98vmin;
}

.text {
    color: white;
    padding-top: 1000em;
    padding-bottom:100em;
}

/*.earth-image-wrapper {
    position: relative;
}

.earth-image-background {
    height: 350px;
    width: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
}*/

/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}